.footer {
  width: 100%; }

.branding {
  background-color: #202720;
  width: 100%;
  height: 2em;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 3px;
  color: white;
  z-index: 1; }
  .branding a {
    text-decoration: underline;
    color: white; }

.header {
  background: no-repeat top center fixed;
  background-image: url("/images/background/path.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-size: 50px;
  z-index: 0;
  overflow: auto;
  transition: background-image 3s ease-in-out; }

html, body {
  margin: 0px; }

.clock {
  border-radius: 50%;
  background: url(/images/clock_face.png) no-repeat center;
  background-size: 90%;
  height: 100%;
  padding-bottom: 0px;
  position: relative;
  top: 0;
  width: 20em;
  margin: 0 auto;
  z-index: 9; }

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hours {
  background: #9F9F9F;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%; }

.minutes {
  background: #9F9F9F;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%; }

.seconds {
  background: #9F9F9F;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }
.hours-container {
  animation: rotate 43200s infinite linear; }

.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

@media (max-width: 650px) {
  .welcome {
    width: 100%;
    position: relative;
    display: Block;
    height: 60vh;
    z-index: 11;
    margin: auto;
    text-align: center; }

  .halfheight {
    height: auto; }

  .clockbox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: inherit;
    overflow: hidden; }

  .logo {
    height: 80px;
    line-height: 80px;
    background: #202720;
    color: #359435;
    width: 310px;
    position: relative;
    left: 0;
    top: 15px;
    text-align: center;
    padding: 0;
    border-radius: 0 12px 12px 0;
    font-size: 2.2em; }

  .title {
    height: 20vh; }

  .overlay {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    display: block;
    height: 100%; }

  .social {
    width: 200px;
    position: absolute;
    top: 100px;
    text-align: left;
    overflow: hidden;
    right: 0;
    z-index: 20; }

  .item {
    padding: 0;
    margin: 0 0 5px;
    background-color: #00E900;
    position: relative;
    top: 0;
    right: -165px;
    width: 100%;
    height: 36px;
    border-radius: 12px 0 0 12px; }
    .item a {
      display: inline-flex;
      vertical-align: middle;
      height: 70px;
      border-radius: 12px 0 0 12px; }
      .item a .linktext {
        line-height: 70px;
        height: 70px;
        color: inherit; }

  #facebook img {
    width: 40px;
    height: 34px;
    background: url("/images/social-icons_mobile.png") 0 -3px;
    margin-right: 10px; }

  #instagram img {
    width: 40px;
    height: 30px;
    background: url("/images/social-icons_mobile.png") 0 -34px;
    margin-right: 10px; }

  iframe {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 90%; }

  .video {
    margin-top: 0;
    position: inherit;
    width: 100%;
    height: 78vh;
    font-size: 1em;
    margin-bottom: 5px; }

  #splshtxt {
    box-sizing: border-box;
    position: relative;
    padding-top: 7vh;
    z-index: 12;
    font-size: 1.2em; }

  .inputtitle {
    background: #202720;
    color: #359435;
    border-radius: 12px 0 0 12px; }

  #emailinst {
    display: block;
    font-size: 0.8em;
    position: relative;
    top: 0;
    z-index: 12;
    margin: 0 auto;
    width: 80%;
    padding-top: 25px; }

  #emailcontact {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 80%;
    z-index: 12; }

  .inputbox {
    width: 150px; }
    .inputbox input {
      width: 150px; }

  .submit {
    color: #202720;
    background: #00E900;
    height: 40px;
    line-height: 40px;
    border-radius: 0 12px 12px 0;
    border-style: solid;
    border-color: #22C222;
    cursor: pointer;
    width: auto;
    font-size: .8em; }

  .form {
    font-size: .8em;
    line-height: 40px;
    height: 40px;
    padding: 5px;
    box-sizing: border-box; }

  p {
    text-align: center;
    color: #386338;
    width: 85%;
    margin: 5px auto;
    padding: 5px; } }
@media (min-width: 650px) {
  .overlay {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    display: block;
    height: 100%; }

  .halfheight {
    height: 50%; }

  .welcome {
    width: 100%;
    position: relative;
    display: Block;
    height: 60vh;
    z-index: 11;
    margin: auto;
    text-align: center; }

  .title {
    height: 15vh; }

  p {
    text-align: center;
    color: #386338;
    width: 60%;
    margin: 10px auto;
    padding: 10px; }

  #splshtxt {
    box-sizing: border-box;
    position: relative;
    padding-top: 15vh;
    z-index: 12;
    font-size: 1.4em; }

  .logo {
    height: 70px;
    line-height: 70px;
    background: #202720;
    color: #359435;
    width: 300px;
    position: relative;
    left: 0;
    top: 100px;
    text-align: center;
    padding: 0;
    border-radius: 0 12px 12px 0;
    font-size: 2em; }

  .social {
    font-size: 1em;
    width: 200px;
    position: absolute;
    top: 150px;
    text-align: left;
    overflow: hidden;
    right: 0;
    z-index: 20; }

  .item {
    padding: 0;
    margin: 0 0 5px;
    background-color: #00E900;
    color: #202720;
    position: relative;
    top: 0;
    right: -125px;
    width: 100%;
    height: 70px;
    border-radius: 12px 0 0 12px; }
    .item a {
      color: #202720;
      text-decoration: none;
      display: inline-flex;
      vertical-align: middle;
      height: 70px;
      border-radius: 12px 0 0 12px; }

  #facebook img {
    width: 66px;
    background: url("/images/social-icons.png") 0 -4px;
    margin-right: 10px; }

  #instagram img {
    width: 66px;
    background: url("/images/social-icons.png") 0 -66px;
    margin-right: 10px; }

  #emailinst {
    display: block;
    font-size: 1em;
    position: relative;
    top: 0;
    z-index: 12;
    margin-left: 0 auto;
    width: 60%; }

  .inputtitle {
    background: #202720;
    color: #359435;
    border-radius: 12px 0 0 12px;
    width: 140px; }

  #emailcontact {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 580px;
    z-index: 12; }

  .submit {
    color: #202720;
    background: #00E900;
    border-radius: 0 12px 12px 0;
    border-style: solid;
    border-color: #22C222;
    cursor: pointer;
    width: 140px; }

  .form {
    font-size: 0.9em;
    line-height: 20px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box; }

  .video {
    margin-top: 2vh;
    position: inherit;
    width: 100%;
    height: 75vh; }

  iframe {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 70%; } }
.copyright {
  font-size: 0.6em; }

.container {
  box-sizing: border-box;
  opacity: 1;
  z-index: 2;
  font-family: sans-serif;
  width: 100%;
  color: #359435;
  font-size: 1.5em; }

.emailbox {
  display: block;
  position: absolute;
  top: 45vh;
  width: 100%;
  z-index: 12;
  text-align: center; }

.inputbox,
.inputtitle,
.submit {
  display: inline-block; }

form {
  position: relative;
  top: 0;
  left: 0; }

.clockbox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  height: inherit; }

@media (min-width: 900px) {
  .halfheight {
    height: 50%; }

  .welcome {
    width: 100%;
    position: relative;
    display: Block;
    height: 70vh;
    z-index: 11;
    margin: auto;
    text-align: center; }

  .title {
    height: 30vh; }

  #emailinst {
    display: block;
    font-size: 1em;
    position: relative;
    top: 0;
    z-index: 12;
    margin-left: 0 auto;
    width: 60%; }

  .inputtitle {
    background: #202720;
    color: #359435;
    border-radius: 12px 0 0 12px;
    width: 140px; }

  #emailcontact {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 580px;
    z-index: 12; }

  .submit {
    color: #202720;
    background: #00E900;
    border-radius: 0 12px 12px 0;
    border-style: solid;
    border-color: #22C222;
    cursor: pointer;
    width: 140px; }

  .form {
    font-size: 0.9em;
    line-height: 20px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box; }

  p {
    text-align: center;
    color: #386338;
    width: 60%;
    margin: 10px auto;
    padding: 10px; }

  #splshtxt {
    box-sizing: border-box;
    position: relative;
    padding-top: 15vh;
    z-index: 12;
    font-size: 2em; }

  .logo {
    height: 70px;
    line-height: 70px;
    background: #202720;
    color: #359435;
    width: 300px;
    position: relative;
    left: 0;
    top: 150px;
    text-align: center;
    padding: 0;
    border-radius: 0 12px 12px 0;
    font-size: 2em; }

  .overlay {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin: 0 auto;
    overflow: auto;
    width: 1024px;
    display: block; }

  .social {
    font-size: 1em;
    width: 200px;
    position: absolute;
    top: 200px;
    text-align: left;
    overflow: hidden;
    right: 0;
    z-index: 20; }

  .item {
    padding: 0;
    margin: 0 0 5px;
    background-color: #00E900;
    color: #202720;
    position: relative;
    top: 0;
    right: -125px;
    width: 100%;
    height: 70px;
    border-radius: 12px 0 0 12px; }
    .item a {
      color: #202720;
      text-decoration: none;
      display: inline-flex;
      vertical-align: middle;
      height: 70px;
      border-radius: 12px 0 0 12px; }
      .item a .linktext {
        line-height: 70px;
        height: 70px;
        color: inherit; }

  .item:hover {
    right: 0;
    transition: 1s;
    background-color: #312828; }
    .item:hover a {
      color: #B94242;
      transition: 1s; }

  #facebook img {
    width: 66px;
    background: url("/images/social-icons.png") 0 -4px;
    margin-right: 10px; }

  #instagram img {
    width: 66px;
    background: url("/images/social-icons.png") 0 -66px;
    margin-right: 10px; }

  .submit:hover {
    background: #312828;
    border-color: #202720;
    color: #B94242; }

  .video {
    margin-top: 5vh;
    position: inherit;
    width: 100%;
    height: 75vh; }

  iframe {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 50%; } }

/*# sourceMappingURL=maintance.css.map */
